@import url(css/cabecalho.css);
@import url(css/medico.css);
@import url(css/consultas.css);

:root {
    --cor-background: #f8f8f8;

    --cor-primaria: #4894FF;
    --cor-secundaria: #FFB050;

    --cor-enable-primaria: #4894FF;
    --cor-hover-primaria: #4786F0;
    --cor-hover-secundaria: #4894FF;
    --cor-pressed-primaria: #4373DC;
    --cor-pressed-secundaria: #4786F0;
    --cor-focused-primaria: #4062C9;
    --cor-focused-secundaria: #4373DC;
    --cor-disabled-primaria: #B9B9B9;

    --cor-fonte-primaria: #464646;
    --cor-fonte-secundaria: #A3A3A3;
    --cor-fonte-terciaria: #FFFFFF;

    --fonte-principal: 'Montserrat', sans-serif;
}

body {
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    color: var(--cor-fonte-primaria);

    background-color: var(--cor-background);
}